<div class="container mt-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>

      <table class="table">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>

         <% if (contacts.length === 0) { %>
          <tr>
            <td colspan="4">
              <div class="alert alert-danger fw-bold" role="alert">
                Data Contact Kosong
              </div>
            </td>
          </tr>
         <% } %> 

          <% contacts.forEach((contact, i) => { i++ %>

          <tr>
            <th scope="row"> <%= i++ %> </th>
            <td><%= contact.name %></td>
            <td><%= contact.mobile %></td>
            <td> <a href="/contact/<%=contact.name %>" class="badge text-bg-success"><i class="bi bi-info-circle"></i>detail</span></td>
          </tr>

          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <h1>CONTACT</h1>
    <h3>Daftar Contact</h3>
    <% if (contacts.length <1) { %>
      <p> Data Not Found</p>  
    <% } else { %>
    <p><% contacts.forEach(cont => { %>
      <table>
        <tr> 
          <td>Nama : <%= cont.name %> </td>
          <br>
        </tr>
        <tr>
          <td> Email :<%= cont.email %> </td> 
        </tr>
      </table>
    <% })} %></p>
  -->
